# Ignore node_modules
node_modules/

# Ignore compiled files
*.class
*.o
*.pyc
pnpm-lock.yaml

# Ignore build output directories
build/
dist/
target/
coverage/


# Ignore IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore temporary files
*.tmp
*.bak
*.swp
# Ignore swap files
*.swp